version: "{build}"
platform: x64
clone_depth: 2
clone_folder: c:\gopath\src\github.com\fsouza\go-dockerclient
environment:
  GOPATH: c:\gopath
  matrix:
    - GOVERSION: 1.10.8
      DEP_TOOL: dep
      GO111MODULE: off
    - GOVERSION: 1.11.5
      DEP_TOOL: dep
      GO111MODULE: off
    - GOVERSION: 1.12beta2
      DEP_TOOL: dep
      GO111MODULE: off
    - GOVERSION: 1.11.5
      DEP_TOOL: mod
      GO111MODULE: on
    - GOVERSION: 1.12beta2
      DEP_TOOL: mod
      GO111MODULE: on
install:
  - choco install make --version 3.81.4
  - set PATH=%GOPATH%\bin;c:\go\bin;%PATH%
  - rmdir c:\go /s /q
  - appveyor DownloadFile https://storage.googleapis.com/golang/go%GOVERSION%.windows-amd64.zip
  - 7z x go%GOVERSION%.windows-amd64.zip -y -oC:\ > NUL
build_script:
  - make testdeps DEP_TOOL=%DEP_TOOL%
test_script:
  - make gotest
matrix:
  fast_finish: true
