name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 4"

jobs:
  build:
    strategy:
      matrix:
        goos:
          - darwin
          - freebsd
          - linux
          - windows

    name: cross-compilation (GOOS=${{ matrix.goos }})
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17

      - uses: actions/checkout@v2.4.0

      - run: go build
        env:
          GOOS: ${{ matrix.goos }}

  test:
    strategy:
      matrix:
        go_version:
          - 1.16
          - 1.17
        os:
          - macos
          - ubuntu
          - windows
        goarch:
          - 386
          - amd64
        exclude:
          - os: macos
            goarch: 386

    name: test (${{ matrix.os }}/go-${{ matrix.go_version }}/${{ matrix.goarch }})
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/setup-go@v3
        id: go
        with:
          stable: false
          go-version: ${{ matrix.go_version }}

      - uses: actions/checkout@v2.4.0

      - run: go mod download

      - run: make staticcheck

      - run: make gotest
        env:
          GOARCH: ${{ matrix.goarch }}
          GOPROXY: off

      - run: make integration
        if: matrix.os != 'macos' && matrix.goarch == 'amd64'
        env:
          GOFLAGS: -mod=readonly

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - uses: golangci/golangci-lint-action@v3.1.0
