name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 4"

jobs:
  test:
    strategy:
      matrix:
        go_version:
          - 1.14
          - 1.15
        os:
          - macos
          - ubuntu
          - windows
        goarch:
          - 386
          - amd64
        exclude:
          - os: macos
            goarch: 386

    name: test (${{ matrix.os }}/go-${{ matrix.go_version }}/${{ matrix.goarch }})
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/setup-go@v2.1.3
        id: go
        with:
          stable: false
          go-version: ${{ matrix.go_version }}

      - uses: actions/checkout@v2.3.1

      - run: go mod download

      - run: make gotest
        env:
          GOARCH: ${{ matrix.goarch }}
          GOPROXY: off

      - run: make integration
        if: matrix.os != 'macos' && matrix.goarch == 'amd64'
        env:
          GOFLAGS: -mod=readonly

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1

      - uses: golangci/golangci-lint-action@v2.2.0
